head 
    title='My Library' 
    link(rel="stylesheet", href="style.css")
body 
    h1=message 
    h3 Available Books
    for e in data
        div
            h2= e.title
            p= e.authors
     
     
